$preparing-title: var(--preparing_title);
$preparing-title-transform: var(--preparing_title_transform);
$preparing-title-spacing: var(--preparing_title_spacing);
$preparing-title-color: var(--preparing_title_color);
$preparing-title-background: var(--preparing_title_background);
$preparing-numbers: var(--preparing_numbers);
$preparing-numbers-transform: var(--preparing_numbers_transform);
$preparing-numbers-spacing: var(--preparing_numbers_spacing);
$preparing-numbers-color: var(--preparing_numbers_color);
$preparing-numbers-background: var(--preparing_numbers_background);
$ready-title: var(--ready_title);
$ready-title-transform: var(--ready_title_transform);
$ready-title-spacing: var(--ready_title_spacing);
$ready-title-color: var(--ready_title_color);
$ready-title-background: var(--ready_title_background);
$ready-numbers: var(--ready_numbers);
$ready-numbers-transform: var(--ready_numbers_transform);
$ready-numbers-spacing: var(--ready_numbers_spacing);
$ready-numbers-color: var(--ready_numbers_color);
$ready-numbers-background: var(--ready_numbers_background);
$ready-numbers-shadow: var(--ready_numbers_shadow);


